[Unit]
Description={{ etcd_service_name }}.service
Documentaion=https://github.com/etcd-io/etcd
After=network-online.target local-fs.target remote-fs.target time-sync.target
Wants=network-online.target local-fs.target remote-fs.target time-sync.target

[Service]
User={{ etcd_service_user }}
Type=notify
WorkingDirectory={{ etcd_data_dir }}
ExecStart={{ etcd_bin_dir }}/etcd  --config-file {{ etcd_config_dir }}/etcd.conf
Restart=on-failure
RestartSec=5s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
