# [member]
name: {{ etcd_name }}
data-dir: {{ etcd_data_dir }}
heartbeat-interval: {{ etcd_hearbeat_interval }}
election-timeout: {{ etcd_election_timeout }}
listen-peer-urls: {{ etcd_peer_listen_urls | join(",") }}
listen-client-urls: {{ etcd_client_listen_urls | join(",") }}

# [cluster]
initial-advertise-peer-urls: {{ etcd_peer_advertise_urls | join(",") }}
initial-cluster: {{ etcd_cluster_initial_members | join(",") }}
initial-cluster-token: {{ etcd_cluster_token }}
advertise-client-urls: {{ etcd_client_advertise_urls | join(",") }}
initial-cluster-state: {{ etcd_cluster_state }}


